/* 
    Document   : main.css
    Created on : Apr 15, 2012, 12:59:13 AM
    Author     : eric
    Description:
        Purpose of the stylesheet follows.
*/

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #666666;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 15px;
    border: 0 none;
    line-height: 1.42857143;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: overlay;
}

body,
div,
span {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body > img {
    display: none;
}

a {
    color: #337ab7;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

:visited {
    color: #337ab7;
}

a:hover,
a:focus {
    color: #e34449;
}

a:active {
    color: #e34449;
}

a:active:not(.button) {
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
}

ul {
    margin: 0px;
    padding: 0px;
}

hr {
    height: 1px;
    border: none;
    border-bottom: #dcdddd 1px solid;
}

label {
    display: block;
    font-weight: bold;
    max-width: 100%;
    margin-bottom: 5px;
}

form {
    padding: 5px 15px;
}

form .form-item {
    margin: 20px 0;
}

form input[type="submit"],
form input[type="button"] {
    padding: 3px 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.loading {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 888888;
    display: none;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
    z-index: 999999;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.mobile-only {
    display: none;
}

/********* header ************/

.header {
    padding: 0 12px;
}
header.mobile_header {
    display: none;
}

.header div {
    display: inherit;
}

.header .header__region {
    clear: none;
}

.header__logo {
    white-space: nowrap;
}

.header__logo:hover {
    text-decoration: none;
}

.header__logo-image {
    width: 45px;
    padding: 5px 0;
    vertical-align: bottom;
}

.header__logo span {
    font-size: 25px;
    white-space: nowrap;
    padding: 0 0 0 5px;
    line-height: 50px;
    color: #f27bab;
    font-weight: bold;
}

.header #h-left {
    float: left;
    width: 140px;
}

.header .ad-free-member-entry {
    width: 270px;
    display: inline-block;
    background: #333;
    padding: 5px;
    float: left;
    margin: 10px 0 0;
}

.header .ad-free-member-entry .hand-icon {
    display: inline-block;
    width: 60px;
    float: left;
}

.header .ad-free-member-entry .hand-icon img {
    width: 50px;
}

.header .ad-free-member-entry .afm-text {
    display: inline-block;
    width: 200px;
}

.header .ad-free-member-entry .afm-text .cn-text {
    font-size: 12px;
    font-style: italic;
}

.header #h-right {
    float: right;
    padding: 5px 0;
    text-align: right;
    margin-right: 15px;
}

.header #h-right span {
    font-size: 80%;
}

.header #h-right span a {
    text-decoration: none;
}

.header #h-right span:first-child a {
    padding: 0 15px 0 0;
}

.header #h-right span:last-child {
    padding: 0 0 0 15px;
}

.header #h-right .cart-count {
    position: relative;
    left: 40px;
    border-radius: 20px;
    display: inline-block;
    width: 15px;
    height: 15px;
    color: white;
    background-color: red;
    text-align: center;
    line-height: 13px;
    top: -5px;
}

.header #h-middle {
    margin: 0 140px;
}

.header form {
    text-align: right;
}

.header form .form-item-search-block-form {
    display: inline-block;
    width: 250px;
    padding: 8px;
    margin: 0;
}

.header form .form-actions {
    display: inline-block;
}


/******* nav menu***********/

.main-menu {
    border-bottom: 1px solid;
    height: 40px;
    font-size: 16px;
    border-top: 1px solid;
    line-height: 26px;
    background-color: #333;
    padding: 2px 0 0 20px;
    clear: both;
}

.navbar {
    margin: 0;
    padding: 0;
    text-align: left;
}

.navbar li {
    padding: 5px 1em 5px 0;
    line-height: 25px;
    float: left;
    list-style-type: none;
    list-style-image: none;
}

.navbar li a {
    color: white;
}

.navbar li.active a {
    color: #f27bab;
}

#quick-nav {
    display: none;
    width: 20px;
    height: 20px;
    margin-right: 22px;
    position: relative;
    cursor: pointer;
}

#quick-nav img {
    width: 20px;
    position: absolute;
    top: 5px;
    left: -5px;
    width: 20px;
    height: 20px;
}

#mobile-back {
    display: none;
    width: 20px;
    height: 20px;
    margin-right: 22px;
    position: relative;
}

#mobile-back img {
    position: absolute;
    top: 5px;
    left: -10px;
    width: 20px;
}

#search-button-div {
    display: none;
    position: absolute;
    top: 18px;
    right: 0;
    width: 72px;
    height: 23px;
}

#search-button-div a {
    float: left;
}

#search-button-div a img {
    width: 21px;
    position: absolute;
    top: 2px;
}

#search-button-div #user-actions {
    float: right;
    font-size: 22px;
    padding: 3px 10px;
    color: white;
}

#search-block-form input[name='op'] {
    background-color: black;
    border: 0;
    background: url("/theme/jw/images/search100bsa-black.png") no-repeat center;
    background-size: 15px 15px;
    position: relative;
    left: -38px;
    top: 3px;
    width: 20px;
    height: 15px;
}

#search-block-form input[name='term'] {
    width: 90%;
    padding-right: 30px;
    height: 25px;
}

footer {
    text-align: center;
    padding: 30px 0 20px;
    border-top: 1px solid #ddd;
}

.footer-links {
    margin: 20px 0 0;
    border-top: 1px solid #ddd;
    padding: 20px 0 0;
}

.footer-link {
    padding: 0 15px;
    border-right: 1px solid;
    white-space: nowrap;
}

.footer-link:last-child {
    border-right: 0;
}

footer .the-tag {
    padding: 5px 10px;
    display: inline-block;
}
footer .hot-searches {
    background-color: #f1f1f1;
    padding: 10px 10px 20px 10px;
    margin: 20px 0;
    border: 1px solid #ddd;
    text-align: left;
}
footer .hot-searches a {
    margin: 5px 5px 0 8px;
    white-space: nowrap;
    display: inline-block;
}

#main {
    width: 100%;
    height: 100%;
    border-top: 3px #888888 groove;
}

.block_title {
    background-color: #666666;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px
}


/******** pager **********/

#pager {
    margin: 40px 20px;
    text-align: center;
}

#pager a {
    font-weight: bold;
    padding: 5px 10px;
    margin: 8px;
}

.page-curr,
.page-curr a:link {
    border: 1px #337ab7 solid;
    border-radius: 30px;
}

#load_prev {
    padding-top: 10px;
    padding-right: 3px;
}

#load_prev a {
    display: block;
    width: 20px;
    height: 65px;
    outline-style: none;
    background-image: url("/images/prev_next.png");
}

#load_prev a:hover {
    background-position: -21px 0px;
}

#load_next {
    padding-top: 10px;
    padding-left: 3px;
}

#load_next a {
    display: block;
    width: 20px;
    height: 65px;
    outline-style: none;
    background-image: url("/images/prev_next.png");
    background-position: -42px 0px;
}

#load_next a:hover {
    background-position: -63px 0px;
}

#prev_folder {
    margin-left: 10px;
    width: 125px;
    height: 98px;
    padding-top: 2px;
    padding-left: 5px;
    background: url("/images/cover_bg_120.png") no-repeat;
    background-position: 0px 0px;
    margin-right: 30px;
}

#next_folder {
    width: 130px;
    height: 98px;
    padding-top: 2px;
    padding-left: 1px;
    background: url("/images/cover_bg_120.png") no-repeat;
    background-position: -260px 0px;
    margin-left: 30px;
}

#next_folder span a,
#prev_folder span a {
    line-height: 28px;
}


/******* overall page layout *******/

.content-container {
    width: 100%;
    margin-right: -340px;
    float: left
}

.content-container .content {
    margin-right: 340px;
    /* padding: 0 0 0 10px; */
}
.content-container.all-tags-page .content {
    padding: 0 0 0 20px;
}
.content-container.all-tags-page h1 select {
    float: right;
    margin-right: 20px;
}

.content-container>h1 {
    text-align: left;
    margin: 30px 20px;
    margin-right: 340px;
}

.content-container #random-play {
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
    color: #666;
}

.content-container .text-container {
    text-align: left;
    padding: 0 0 20px 15px;
}

.layout-center .content-container .fc-text-content {
    padding: 10px;
}

.content-container .related-files {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/***** File teaser *******/

.node-teaser {
    width: 238px;
    display: inline-block;
    min-width: 100px;
    max-width: 238px;
    margin-bottom: 20px;
}

.node-teaser .teaser-file-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    font-size: 12px;
    padding: 10px 5px 0;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.node-teaser .teaser-file-title a,
.node-teaser .teaser-file-title a:hover,
.node-teaser .teaser-file-title a:visited {
    color: initial;
}

.node-teaser .teaser-file-info {
    font-size: 12px;
    padding: 5px 5px 20px;
    color: #888;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60%;
    float: left;
    padding: 5px;
    text-align: left;
}

.node-teaser .teaser-file-info.right {
    text-align: right;
    width: 30%;
}

.node-teaser .teaser-file-info img {
    vertical-align: text-top;
}

.node-teaser .duration {
    position: relative;
    top: -30px;
    right: 0;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    opacity: .8;
    float: right;
    margin-bottom: -20px;
}

.node-teaser .duration strong {
    padding: 0 5px 0 0;
}

.node-teaser .teaser-thumbnail {
    display: block;
    padding: 0;
    background-color: #fff;
    border: 0;
}

.node-teaser .teaser-thumbnail img {
    /* max-height: 100%; */
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div.stretchy-wrapper {
    width: 100%;
    /* padding-bottom: 66.25%; */
    /* 16:9 */
    position: relative;
    background: black;
    overflow: hidden;
    height: 357px;
}

div.stretchy-wrapper::before {
    color: #999;
    content: attr(data-bg-text);
    display: block;
    font-size: 16px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.stretchy-wrapper>img {
    width: 100%;
    pointer-events: none;
    margin: auto;
    position: absolute;
    top: -30px;
    left: 0;
    /* bottom: 0; */
    /* right: 0; */
}


/**** File detail page****/

article.file header {
    text-align: left;
    padding: 10px;
}

article.file .file-info {
    line-height: 2em;
}

article.file .file-album-download {
    margin: 10px 0 0 0;
}
article.file .file-album-download a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    margin: 0 0 0 10px;
    background-color: #00ad62;
    color: #eee
}

article.file .file-tags {
    margin: 1em 0;
    font-size: 20px;
}

article.file .file-tags .tag {
    padding: 5px 15px;
    background-color: #f27bab;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    white-space: nowrap;
    margin: 5px 8px;
    display: inline-block;
}
article.file .file-tags .tag h2 {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
}

article.file .file-tags.ft-bottom {
    text-align: center;
    margin-bottom: 3em;
}

article.file .file-description {
    padding: 15px 0;
    margin: 15px 0;
}

article.file .file-detail {
    text-align: left;
    margin: 0 0 30px;
    padding: 0 0 20px 0;
    display: inline-block;
}

article.file .file-detail img {
    width: 100%;
    position: relative;
}

#auto-play {
    position: relative;
    top: 0;
    right: 10px;
    background-color: rgba(255,255,255, 0.5);
    color: black;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
}
article.file #auto-play {
    margin-bottom: 20px;
    background: none;
    color: black;
    border: 1px solid #FF87B7;
    float: right;
}
#fdp-photo {
    text-align: center;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    background-color: rgba(011, 011, 011, 0.9);
    z-index: 888666;
}
#fdp-photo #the-photo {
    width: 100%;
    position: relative;
} 
#fdp-photo #the-photo.rotate {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg); 
}
.fdp-random-btns {
    display: inline;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #333;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 10px;
    z-index: 888999;
    /* background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); */
    /* IE6-9 */
}

.fdp-random-btns a {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
    color: #333;
    width: 25px;
}
.fdp-random-btns #close_ppt {
    font-size: 30px;
    font-weight: bolder;
    line-height: 12px;
}

#fdp-title {
    display: inline-block;
    text-align: center;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0 0 20px;
    line-height: 12px;
    font-size: 14px;
}
#fdp-title a {
    width: 100%;
}




article.file #fdp-photo {
    text-align: center;
    position: relative;
    overflow: hidden;
}

article.file #fdp-photo-old {
    position: relative;
}
article.file #fdp-photo-old #action-hint {
    position: absolute;
    z-index: 777;
    bottom: -20px;
    font-size: 11px;
    padding: 3px;
    width: 100%;
}

article.file #fdp-photo>a {
    min-height: 500px;
    background-color: #fff7fe;
    display: block;
}

article.file #fdp-photo>a::before {
    color: #999;
    content: attr(data-bg-text);
    display: block;
    font-size: 16px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fdp-click-area {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 888777;
}

.fdp-click-area-left {
    flex: 1;
    cursor: url("/theme/jw/images/cursor-arrow-left.png") 16 16, pointer;
}

.fdp-click-area-left:hover {
    background: url("/theme/jw/images/arrow-left.svg") no-repeat;
    background-position: left;
    background-size: 80px 60px;
}

.fdp-click-area-right {
    flex: 1;
    cursor: url("/theme/jw/images/cursor-arrow-right.png") 16 16, pointer;
}

.fdp-click-area-right:hover {
    background: url("/theme/jw/images/arrow-right.svg") no-repeat;
    background-position: right;
    background-size: 80px 60px;
}



/********** Page user **********/

.dashboard-section {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.dashboard-section .ds-title {
    min-width: 130px;
    display: inline-block;
    float: left;
    margin: 6px 15px;
}

.dashboard-section .ds-main {
    display: inline-block;
    width: calc(100% - 160px);
    line-height: 30px;
}

.dashboard-section .ds-main ul {
    padding: 20px 0 0 0;
}

.dashboard-section .ds-row {
    padding: 0 5px;
    height: 30px;
    list-style-type: none;
}

.dashboard-section .ds-row:hover {
    background-color: #faf2f2;
}

.dashboard-section .ds-row .ds-row-left {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 25px);
    display: inline-block;
}

.dashboard-section .ds-row .delete-icon {
    width: 20px;
}


/********** Ads **********/
.ad-container {
    padding: 2px;
}

.ad-side-right {
    width: 335px;
    float: right;
    padding: 30px 0 0 10px;
}

#block-ads-jp-m-middle,
#block-ads-jp-m-bottom {
    display: none;
}

#block-ads-jp-m-top {
    position: absolute;
    top: 10px;
}

#block-ads-right-sidebar-ad-v,
#block-ads-right-sidebar-ad-v-2 {
    width: 160px;
    float: left;
}


/*** glyphicon ***/

.content-container #random-play {
    display: inline-flex;
}

.glyphicon-circle {
    border: 1px solid #999;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    text-align: center;
    padding: 3px 1px 1px 3px;
    margin: 0 5px;
    position: relative;
    display: inline-flex;
}

.glyphicon-play {
    display: inline-block;
    box-sizing: border-box;
    width: 0;
    height: 0;
    cursor: pointer;
    border-color: transparent transparent transparent #000;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
    border-width: 6px 0 6px 12px;
    margin: 0 0 3px 2px;
}

.glyphicon-pause {
    display: inline-block;
    box-sizing: border-box;
    width: 0;
    height: 12px;
    cursor: pointer;
    border-color: transparent transparent transparent #000;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: double;
    border-width: 0px 0 0px 12px;
    margin: 0 0 3px 2px;
}

#fdp-photo .glyphicon {
    position: relative;
    top: 5px;
}

#fdp-photo .fdp-random-next,
#fdp-photo .fdp-random-previous {
    position: relative;
    top: 3px;
}

#fdp-photo .fdp-random-pause {
    width: 0;
    margin: 0 0 3px 10px;
}

/**** dev-mode ****/
.content-container.dev-mode {
    margin-right: 0;
}
.content-container.dev-mode .content {
    margin-right: 0;
}
.content-container.dev-mode .file .file-detail {
    padding: 0;
    position: relative;
    z-index: 999;
}
/**** end of dev-mode ****/

#loading {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left: 5px solid #333;
    border-right: 5px solid #333;
    border-bottom: 5px solid #333;
    border-top: 5px solid #ddd;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}
@keyframes spin {to { -webkit-transform: rotate(360deg); }}
@-webkit-keyframes spin {to { -webkit-transform: rotate(360deg); }}

@media (max-width: 1200px) {
    .node-teaser {
        width: 32%;
    }
    .file-detail img {
        width: 100%;
    }
    .content-container .content {
        padding: 0;
    }
}

@media (max-width: 999px) {
    #block-ads-right-sidebar-ad-v,
    #block-ads-right-sidebar-ad-v-2 {
        width: 100%;
    }
    #block-ads-right-sidebar-ad-1,
    #block-ads-right-sidebar-ad-2,
    #block-ads-right-sidebar-ad-3 {
        display: none;
    }
    .content-container .content {
        margin-right: 0;
    }
    .content-container>h1 {
        margin-right: 0;
    }
    .ad-side-right {
        /* width: 165px; */
        display: none;
    }
    article.file .file-detail {
        padding: 10px 0;
    }
}

@media (max-width: 810px) {
    .node-teaser {
        width: 48%;
    }
    /* div.stretchy-wrapper {
        height: calc(100vw * 0.7);
    } */
    #block-ads-jp-m-top {
        display: none;
    }
    .header form .form-item-search-block-form {
        width: 200px;
    }
    .content-container {
        /* width: calc(100% - 180px); */
        margin-right: 0;
    }
    article.file header {
        padding: 0;
    }
    article.file .file-tags {
        text-align: center;
    }
    article.file .fdp-click-area-right:hover,
    article.file .fdp-click-area-left:hover {
        background-size: 60px 40px;
    }
}

@media (min-width: 777px) {
    .body {
        padding-left: 12px;
        padding-right: 13px;
    }
    .ad-side-right {
        margin-right: 0;
        margin-left: -100%;
        float: right;
        clear: right;
    }
}

@media only screen and (max-width: 777px) {
    .mobile-only {
        display: block !important;
    }
    .mobile_hide {
        display: none;
    }
    header.header {
        display: none;
    }
    header.mobile_header {
        display: block;
    }
    .header {
        padding: 0;
    }
    .header__logo-image {
        padding: 15px 0;
        width: 30px;
        height: 30px;
    }
    .header__logo span {
        line-height: 60px;
    }
    .layout-center #h-left-m {
        width: 100%;
        text-align: center;
        background-color: #333;
        float: none;
    }
    .layout-center #h-left-m .header__logo {
        float: inherit;
    }
    .layout-center #h-left-m #quick-nav,
    .layout-center #h-left-m #mobile-back,
    .layout-center #h-left-m #search-button-div {
        display: inline-block;
    }
    .layout-center .region-header {
        width: 100%;
    }
    .layout-center #h-middle-m {
        display: none;
    }
    .layout-center #h-middle-m {
        width: 100%;
        margin: 0;
    }
    .layout-center #h-middle-m .container-inline {
        text-align: center;
    }
    .layout-center #h-middle-m .container-inline .form-item-search-block-form {
        width: 100%;
        padding: 20px 5px 0px 0;
        box-sizing: border-box;
    }
    .layout-center #h-middle-m .container-inline .form-item-search-block-form input[name='term'] {
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
        height: 35px;
        margin: 5px auto;
    }
    .layout-center #h-middle-m .container-inline .form-actions {
        display: block;
        padding: 3px;
    }
    .layout-center #h-middle-m .container-inline .form-actions input[name='op'] {
        background: none;
        background-color: #f27bab;
        position: static;
        width: 100%;
        height: 35px;
    }
}

@media only screen and (max-width: 565px) {
    body>img {
        display: none;
    }
    
    .not-in-mobile {
        display: none;
    }
    .layout-center {
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
    
    .layout-center .layout-3col {
        margin-left: 0;
        margin-right: 0;
    }
    .layout-center .content-container {
        width: 100% !important;
        margin: 0;
    }
    .content-container h1 {
        margin: 25px 5px 25px 0;
        font-size: 26px;
        line-height: 35px;
    }
    .content-container>h1 {
        margin-left: 10px;
    }
    .content-container #random-play {
        line-height: 22px;
    }
    .glyphicon-circle {
        line-height: 22px;
    }
    .content-container .content {
        margin-right: 0;
        padding: 0;
    }
    .layout-center .main-menu {
        position: fixed;
        z-index: 999;
        top: 65px;
        left: 0;
        border: 0;
        padding: 0;
    }
    .layout-center .main-menu .navbar {
        border-top: 1px solid;
    }
    .layout-center .main-menu .navbar li {
        padding: 12px 10px;
        display: block;
        width: 80%;
        background-color: #333;
        opacity: .9;
        border-bottom: 1px solid;
        border-right: 1px solid;
    }
    .layout-center .main-menu .navbar li a {
        display: block;
        height: 100%;
        width: 100%;
    }
    .layout-center #pager .page-item {
        display: none;
    }
    .layout-center #pager .page-pre,
    .layout-center #pager .page-next {
        display: inline-block;
    }
    .layout-center #pager .page-curr {
        border: none;
        color: #464646;
    }
    .layout-center footer {
        padding: 20px 0 15px;
    }
    .layout-center #fixed-footer {
        margin-top: 0;
        padding: 15px 0 10px;
    }
    .node-teaser {
        width: 49%;
    }
    div.stretchy-wrapper {
        height: calc(100vw * 0.7);
    }
    .all-tags-page .node-teaser {
        width: 45%;
    }
    .dashboard-section .ds-title {
        display: block;
        width: 100%;
        margin: 6px 0;
    }
    .dashboard-section .ds-main {
        width: 100%;
    }
    .dashboard-section .ds-row {
        height: auto;
    }
    .dashboard-section .ds-file-intro {
        display: none;
    }
    .dashboard-section .account-mail a,
    .dashboard-section .account-pass a {
        display: block;
        width: 100%;
        float: left;
    }
    .dashboard-section .upload-file {
        display: block;
        border: 1px solid #ccc;
        background-color: #f2f2f2;
        padding: 2px 30px;
        float: none;
        width: fit-content;
        margin: 20px auto;
        color: #424242;
    }
    #in-file-ad {
        border: 0;
    }
    #block-ads-right-sidebar-ad-v,
    #block-ads-right-sidebar-ad-v-2,
    #block-ads-right-sidebar-ad-1,
    #block-ads-right-sidebar-ad-2,
    #block-ads-right-sidebar-ad-3 {
        display: none;
    }
    #block-ads-jp-m-middle,
    #block-ads-jp-m-bottom {
        display: block;
        text-align: center;
        margin: 5px 5px 15px 5px;
    }
    #block-ads-jp-m-top {
        display: none;
    }
    .m-block-ad {
        text-align: center;
        margin: 30px 0;
    }
    .footer-link {
        font-size: 12px;
    }
    .the-tag {
        font-size: 12px;
    }

    article.file .file-detail #the-photo.rotate {
        position: absolute;
    }
}